@model Cortana.Models.usuariorol

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de</h2>

<<div>
    <h4>usuario rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roles.descripcion)
        </dt>

        <dd>
            @Cortana.Controllers.Usuario_RolController.Descripcion_Rol(Model.idRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Cortana.Controllers.Usuario_RolController.Nombre_Usuario(Model.idUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver Al Menu", "Index")
</p>